<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wbh.manage.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wbh.manage.entity.SysUser">
        <id column="user_id" property="userId"/>
        <result column="nick_name" property="nickName" />
        <result column="user_account" property="userAccount" />
        <result column="password" property="password" />
        <result column="create_date" property="createDate" />
        <result column="update_date" property="updateDate" />
        <result column="remarks" property="remarks" />
        <result column="del_flag" property="delFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        user_id, nick_name, user_account, password, create_date, update_date, remarks, del_flag
    </sql>

    <select id="selectByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_user a
        <where>
            a.del_flag = '0'
            <if test="userId != null and userId != ''">
                AND a.user_id = #{userId}
            </if>
        </where>

    </select>
</mapper>
